@font-face {
    font-family: Phosphate;
    src: url("../assets/fonts/PhosphateInline.ttf");
}

@font-face {
    font-family: Main;
    src: url(../assets/fonts/main.ttf);
}

@font-face {
    font-family: vraagmain;
    src: url(../assets/fonts/Trebuchetbold.ttf);
}

@font-face {
    font-family: CopperplateBold;
    src: url(../assets/fonts/CopperplateBold.ttf);
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: white;
}