@font-face {
    font-family: Phosphate;
    src: url("../assets/fonts/PhosphateInline.ttf");
}

@font-face {
    font-family: Main;
    src: url(../assets/fonts/main.ttf);
}

@font-face {
    font-family: vraagmain;
    src: url(../assets/fonts/Trebuchetbold.ttf);
}

@font-face {
    font-family: CopperplateBold;
    src: url(../assets/fonts/CopperplateBold.ttf);
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: white;
    user-select: none;
    height: 100vh;
}
.home {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-image: url(../assets/img/home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
   
  }
  
  .home:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  }
  