body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    background-color: black;

}
@keyframes laadani {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}
.container-parent {
    display: flex;
    height: 100vh;
    overflow: hidden;
    
}

.container {
    flex: 1;
    transition: all .4s;

    box-sizing: border-box;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
}

.container div {
    animation: laadani 1s ease-in-out forwards;
    margin: 650px auto 0 auto;
    font-size: 80px;
    text-shadow: 0 0 10px black;
    font-family: Phosphate;
}

.container:hover {
    transform: scale(1.03);
    z-index: 1;
    filter: brightness(1.2);
    filter: saturate(1.4);

}

.maintext {
    animation: laadani 1s ease-in-out forwards;
    margin: 0px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 20px;
    font-size: 160px;
    text-shadow: 0 0 15px black;
    letter-spacing: 30px;
    font-family: Main;
}