body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    background-color: black;

}
@keyframes laadani {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}
.container-parent {
    display: flex;
    height: 100vh;
    overflow: hidden;
    
}

.horz {
    display: flex;
}

.container {
    flex: 1;
    transition: all .4s;

    box-sizing: border-box;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#overlayInfo {
    z-index: 5;
    border-radius: 2.3vh;
    top: 10vh;
    bottom: 10vh;
    left: 10vh;
    right: 10vh;
    position: fixed;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    background-color: rgba(37, 37, 37, 0.974);
    box-shadow: 0 0 2vh black;
    display: none;
}
.container div {
    animation: laadani 1s ease-in-out forwards;
    margin: 650px auto 0 auto;
    font-size: 80px;
    text-shadow: 0 0 10px black;
    font-family: Phosphate;
}

.container:hover {
    transform: scale(1.03);
    z-index: 1;
    filter: brightness(1.2);
    filter: saturate(1.4);

}

.maintext {
    animation: laadani 1s ease-in-out forwards;
    margin: 0px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 20px;
    font-size: 160px;
    text-shadow: 0 0 15px black;
    letter-spacing: 30px;
    font-family: Main;
}

#overlayQuizNaam {
    animation: laadani 1s ease-in-out forwards;
    margin: 0px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 250px;
    font-size: 130px;
    text-shadow: 0 0 15px black;
    letter-spacing: 5px;
    font-family: Phosphate;
}

#overlayQuizdesc {
    animation: laadani 1s ease-in-out forwards;
    margin: 0px;
    z-index: 2;
    left: 15vh;
    animation: laadani 1s ease-in-out forwards;
    right: 15vh;
    position: fixed;
    top: 300px;
    font-size: 40px;
    text-shadow: 0 0 15px black;
    letter-spacing: 5px;
    font-family: CopperplateBold;
    text-align: center;
}

.btnContainer {
    margin: 1.5vh;
    animation: laadani 1s ease-in-out forwards;
    z-index: 2;
    display: flex;
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%);
}

#verderBtn {
    background-color: rgb(71, 107, 70);
    animation: laadani 1s ease-in-out forwards;
}

.btn {
    color: white;
    cursor: pointer;
    font-family: CopperplateBold;
    border-radius: 3vh;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(84, 84, 84);
    animation: laadani 1s ease-in-out forwards;
    padding: 2vh;
    margin: 2vh;
}