body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    background-color: black;

}

.container-parent {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    flex: 1;
    transition: transform .4s;
    box-sizing: border-box;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
}

.container div {
    margin: 650px auto 0 auto;
    font-size: 80px;
    text-shadow: 0 0 10px black;
    font-family: Phosphate;
}

.container:hover {
    transform: scale(1.03);
    z-index: 1;
}

.maintext {
    margin: 0px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 20px;
    font-size: 160px;
    text-shadow: 0 0 15px black;
    letter-spacing: 30px;
    font-family: Main;
}