#maintext {
    font-family: Phosphate;
    font-size: 60px;
    text-shadow: 0 0 10px black;
    margin-top: 10vh;
    text-align: center;
}

#img-vraag {
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 15vh;
    border-radius: 64px;
    object-fit: cover;
    width: 80vh;
    height: 30vh;
}

#vraagtext {
    font-family: vraagmain;
    font-size: 50px;
    text-shadow: 0 0 10px black;
    text-align: center;
    margin-top: 37vh;
    margin-bottom: 2vh;
}

#buttonPrefab {
    display: none;
}

.buttonanswer {
    margin: 1.5vh;
    font-family: CopperplateBold;
    border-radius: 3vh;
    font-size: 30px;
    text-align: center;
    background: rgb(255, 255, 255);
    z-index: 2;
    color: black;
    flex: 1 1 auto;
    display: flex;
}

.buttonanswer div {
    margin: auto;
}

#antwoordlijsten-container {
    display: flex;
    flex-grow: 1;
    margin: 3vh 15vh;
    flex-direction: row;
}

.antwoorden-lijst {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-direction: column;
    width: 50%;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/img/waterBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}