@keyframes laadani {
    0% {

        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}

#maintext,
#img-vraag,
#vraagtext,
#buttonPrefab,
.buttonanswer,
.antwoorden-lijst,
.home {
    animation: laadani 1s ease-in-out forwards;
}

.home {
    position: fixed;
    /* or absolute/fixed depending on your layout */
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-image: url(../assets/img/home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;
}

.home:hover {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
}

#maintext {

    font-family: Phosphate;
    font-size: 60px;
    text-shadow: 0 0 10px black;
    margin-top: 10vh;
    text-align: center;
}

#img-vraag {
    margin-bottom: 25%;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 15vh;
    border-radius: 64px;
    object-fit: cover;
    width: 80vh;
    height: 30vh;
}

#vraagtext {
    font-family: vraagmain;
    font-size: 50px;
    text-shadow: 0 0 10px black;
    text-align: center;
    margin-top: 37vh;
    margin-bottom: 2vh;
}

#buttonPrefab {
    display: none;
}

.buttonanswer {
    margin: 1.5vh;
    font-family: CopperplateBold;
    border-radius: 3vh;
    font-size: 30px;
    text-align: center;
    background: var(--kleur1);
    z-index: 2;
    color: black;
    flex: 1 1 auto;
    display: flex;
}

.buttonanswer div {
    margin: auto;
}

#antwoordlijsten-container {
    display: none;
    flex-grow: 1;
    margin: 3vh 15vh;
    flex-direction: row;
}

#inputField {
    color: white;
    border: none;
    background: var(--kleur1);
    text-align: center;
    width: 550px;
    height: 40px;
    padding: 10px;
    font-size: 30px;
    border-radius: 2vh;
    margin: 4% auto;
    display: none;
    outline: none;
}



.antwoorden-lijst {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-direction: column;
    width: 50%;
}

html {
    height: 100%;
    width: 100%;
}

body {

    height: 100%;
    width: 100%;
}

#background {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--background);
    display: flex;
    flex-direction: column;
}

#overlayAntwoord {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#antwoordOverlayMidden {
    background-color: rgb(119, 62, 62);

    border-radius: 2.3vh;
    top: 10vh;
    bottom: 10vh;
    left: 10vh;
    right: 10vh;
    position: fixed;
    margin: 0 auto;
    color: rgb(255, 255, 255);

}

#antwoordOverlaytekst {
    font-size: 62px;
    transform: translateY(45%);
    margin: 0 auto;
    font-style: bold;
    font-family: CopperplateBold;
    text-align: center;
}